@font-face {
    font-family: Koralev;
    src: url(/fonts/Korolev/Korolev\ Medium.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Koralev;
}

/********************************************* HEADER **********************************************/
header{
    height: 100vh;
    /* background-image: url(/img/home.png);
    background-repeat: no-repeat;
    background-size: contain; */
}

.header_img_izq img{
    margin-top: 159px;
}

.logo_izq{
    position: absolute;
    top: -300px;
    right: 139px;
}

.logo_izq img{
    width: 394px;
}

.txt_we{
    font-size: 165px;
    color: #ffffff;
    position: absolute;
    top: 205px;
    left: 373px;
}
.txt_are{
    font-size: 165px;
    position: absolute;
    top: 335px;
    left: 700px;
}

.txt_coco{
    font-size: 165px;
    position: absolute;
    bottom: 70px;
    right: 377px;
}

.txt_coco span{
    color: #ffffff;
}

.logo_der img{
    width: 394px;
}

.logo_der{
    position: absolute;
    bottom: -448px;
    left: 175px;
}

.header_img_der img{
    z-index: -100;
    position: absolute;
    bottom: 97px;
    right: 0;
}



/********************************************* MENU **********************************************/

.toggle{
    position: absolute;
    top: 40px;
    right: 60px;
    cursor: pointer;
    z-index: 1000;
}

.toggle img{
    width: 70px;
}

.menu{
    width: 0;
    height:  0;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 100%;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    z-index: 1; 
}

.menu.open-menu{
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 0;
}

.menu ul li{
    list-style: none;
    margin: 20px;
    text-align: center;
}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    position: relative;
    text-shadow: 0 0 0 red;
    transition: text-shadow 0.5s, transform 0.5s;
}

.menu ul li a:hover{
    text-shadow: -3px 3px 0 red;
    transform: translateY(-6px);
}

.menu ul li a::after{
    content: '';
    width: 10px;
    height: 10px;
    border: 50%;
    background: #fff;
    position: absolute;
    bottom: 19px;
    right: -18px;
    opacity: 0;
    box-shadow: 0 0 0 red;
    transition: box-shadow 0.5s;
}

.menu ul li a:hover::after{
    opacity: 1;
    box-shadow: -2px 2px 0 red;
}

/********************************************* ABOUT **********************************************/

.about{
    height: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.about_title{
    align-self: center;
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 55px;
}

.about_text{
    display: flex;
}

.about_text_img{
    width: 50%;
}

.about_text_img img{
    width: 100%;
}
.about_text_text{
    width: 50%;
    font-size: 30px;
    line-height: 55px;
    margin-left: 10px;
    padding: 10px;
}

.about_phrase{
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
    text-align: center;
    font-size: 45px;
}

/********************************************* SERVICES **********************************************/

.services{
    padding: 15px 20px;
    padding-bottom: 100px;
}

.services_title{
    text-align: center;
    margin: 30px 0;
    padding-bottom: 15px;
    font-size: 40px;
}

.services_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
    gap: 15px;
}

.services_box{
    background: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 30px 20px;
}

.services_box:hover{
    transform: scale(1.03);
}

.services_box img{
    filter: invert(1);
    width: 50px;
}

.services_box h3{
    font-size: 22px;
    padding: 10px 0;
}

.services p{
    font-size: 15px;
    line-height: 1.8;
}

.service_btn{
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    border: 1px solid;
    border-radius: 5px;
    border-color:  #fff;
    padding: 8px 25px;
}

.service_btn:hover{
    color: black;
    background-color: #fff;
}

/********************************************* CONTACT **********************************************/

.contact{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: white;
}

.contact_title{
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact_title_3{
    font-size: 60px;
    background-color: rgb(255, 102, 117);
    margin-bottom: 50px;
}

.contact_title_3 a{
    text-decoration: none   ;
}

.contact_title_2{
    font-size: 2em;
}

.contact_text{
    font-size: 1.3rem;
    margin-bottom: 50px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    border: none;
    border-bottom: 2px solid rgb(0, 255, 145);
    margin: 15px;
    padding: 10px;
    background-color: black;
    color: #fff;
}

textarea{
    background-color: black;
    color: #fff;
    margin-top: 25px;
    border-radius: 15px;
    border: 2px solid rgb(0, 255, 145);
    padding: 15px;
}

.newsletter_text{
    display: inline-block;
    margin: -12px;
}

button{
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 100px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

/********************************************* FOOTER **********************************************/

footer{
    background-color: black;
    border-top: 2px solid #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_footer img{
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

.made_with p a{
    color: #fff;
    text-decoration: none;
}

.made_with p a:hover{
    color: rgb(0, 255, 145);
    text-decoration: none;
}


.social_foo{
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 25px;
}

.social_foo li{
    filter: invert(1);
    list-style: none;
    display: inline;
    margin-right: 15px;
}

.social_foo li a img{
    width: 20px;
}


/********************************************* MEDIA QUERIES **********************************************/

@media (max-width: 767px) {
    header{
        flex-direction: column;
    }
    .text{
        margin-left: 0px;
    }
    .text h2{
        font-size: 5rem;
    }
    
    .text h3{
        padding: 15px 50px;
        font-size: 1.5rem;
    }

    .social{
        margin-right: 85px;
        padding-bottom: 50px;
    }

    .about{
        margin-top: -60px;
        height: 100%;
    }

    .about_text{
        flex-direction: column;
    }

    .about_title{
        text-align: center;
        font-size: 28px;
    }

    .about_text_img{
        width: 100%;
    }

    .about_text_text{
        width: 100%;
        margin-top: 20px;
        font-size: 23px;
        line-height: 40px;
        margin-left: 0px;
        padding: 15px;
        text-align: center;
    }

    .about_phrase{
        margin-top: 50px;
        margin-bottom: 70px;
        text-align: center;
        font-size: 22px;
        padding: 8px;
    }

    .services{
        padding: 15px 1px;
    }

    .services_container{
        grid-template-columns: repeat(auto-fit, minmax(200px, 0.9fr));
        justify-content: center;
        gap: 15px;
        margin-bottom: 50px;
    }

    .contact_title{
        text-align: center;
        font-size: 35px;
        padding: 10px;
        margin-bottom: 80px;
    }

    .contact_title_3{
        padding: 10px;
        font-size: 40px;
        margin-bottom: 50px;
    }

    .contact_text{
        text-align: center;
    }
    
    .box1, .box2{
        width: 80%;
    }

    input{
        width: 90%;
    }

    textarea{
        width: 80%;
    }

    .newsletter{
        display: flex;
    }

    .newsletter_input{
        width: 50px;
    }
    .newsletter_text{
        align-self: center;
        margin-left: -25px;
    }

    .logo_footer img{
        width: 80px;
        margin-top: 5px;
        margin-left: 20px;
    }

    .made_with{
        text-align: center;
        font-size: 12px;
    }

    .social_foo li a img{
        width: 16px;
    }

    

}

@media (min-width: 768px) and (max-width: 1439px){
    header{
        flex-direction: column;
    }

    .text h2{
        font-size: 7rem;
    }
    
    .text h3{
        padding: 15px 50px;
        font-size: 1.5rem;
    }

    .about{
        margin-top: -17px;  
        height: 100%;
    }

    .about_text{
        flex-direction: column;
    }

    .about_text_img{
        width: 100%;
    }
    
    .about_text_text{
        width: 100%;
        margin-top: 20px;
        font-size: 23px;
        line-height: 40px;
        margin-left: 0px;
        padding: 15px;
    }

    .about_phrase{
        margin-top: 50px;
        margin-bottom: 70px;
        text-align: center;
        font-size: 24px;
        
    }

}

/*DESKTOPS*/

@media (min-width: 1441px) and (max-width: 1919px){
    .header_img_izq img{
        width: 650px;
        margin-top: 137px;
    }

    .logo_izq{
        top: -261px;
        right: 140px;
    }
    
    .logo_izq img{
        width: 340px;
    }

    .txt_we{
        font-size: 145px;
        top: 175px;
        left: 321px;
    }

    .txt_are{
        font-size: 145px;
        top: 320px;
        left: 615px;
    }

    .txt_coco{
        font-size: 145px;
        bottom: 300px;
        right: 335px;
    }

    .logo_der img{
        width: 340px;
    }

    .logo_der{
        bottom: -140px;
        left: 142px;
    }

    .header_img_der img{
        width: 650px;
        bottom: 330px;
        right: 0;
    }



}




